snippet tom
	# ${1:Public|Internal|Deprecated}: ${2:Duplicate some text an arbitrary number of times.}
	#
	# ${3:text  - The String to be duplicated.}
	#
	# ${4:Examples}
	#
	# ${5:Returns the duplicated String.}
